<div>
  <h1>New game</h1>
  <ul class="list-group list-group-horizontal">
  <% @letters.each do |letter| %>
    <li class="letter-list list-group-item m-2 border rounded"><%= letter %></li>
  <% end %>
  </ul>

  <form action="/score" method="post" data-turbo="false">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :letters, @letters %>
    <label for="question" class="form-label mt-3 mb-0"><p>What is the longest word you can find?</p></label>
    <div class="col-auto">
      <input type="text" name="word" id="question">
      <input type="submit" value="Play">
    </div>
  </form>
</div>
